:root {
  --primary-color: #000000;
  --secondary-color:#ffffff;
}

.swap-colors {
  --primary-color: #ffffff;
  --secondary-color:#000000;
}

body{
  background:var(--primary-color);
  padding:0;
  margin:0
}

@font-face {
  font-family:'TheFutureBold';
  src: url('resources/TheFuture-Bold.otf')
}

@font-face {
  font-family:'TheFutureReg';
  src: url('resources/TheFuture-Regular.otf')
}

canvas{
  z-index:-100;
  padding:0;
  margin:auto;
  display:block;
  position:absolute;
}

/* GENERATOR */
#patternGen {
  width:100%;
  height:100%;
}

/* UNITS */

.fullSet {
  width:100%;
  height:100%;

  position:absolute;
  display:flex;
  flex-direction:row;
}

.lCol {
  width: 80%;
  height: 100%;

  position:relative;
  display:flex;
  flex-direction:column;
}

.lTopRow {
  width: 100%;
  height: 20%;

  position:relative;
  display:flex;
  flex-direction:row;
}

.ltUnitHeadline {
  width: 33%;
  height: 100%;

}

.ltUnit {
  width: 22%;
  height: 100%;

  position:relative;
  display:flex;
  flex-direction:row;
}

.ltSubUnit {
  width: 55%;
  height: 50%;

  position:relative;
  display:flex;
  flex-direction:column;

  text-align: center;
}

.ltSubUnit2 {
  width: 70%;
  height: auto;

  position:relative;
  display:flex;
  flex-direction:column;

  text-align: center;

}

.ltSubUnit3 {
  width: auto;
  height: auto;

  position:relative;
  display:flex;
  flex-direction:column;

  text-align: center;

}


.centerButton{
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.patternSettings {
  width:90%;
  height:95%;

  position:relative;
  display:flex;
  flex-direction:column;
}

/* RIGHT COL */

.rCol {
  width: 20%;
  height: 100%;

  position:relative;
  display:flex;
  flex-direction:column;
}

.rUnit {
  width: 100%;
  height: 5%;
}

.rUnitSmall {
  width: 100%;
  height: 4%;

  margin-top: -10px;
}

.rUnit_sliderSet {
  width: 100%;
  height: 100%;

  position:relative;
  display:flex;
  flex-direction:row;
}

.rUnit_buttonSet {
  width: 100%;
  height: 100%;

  position:relative;
  display:flex;
  flex-direction:row;
}

.rUnit_slider {
  width: 50%;
  height: 100%;

  position:relative;
  display:flex;
  flex-direction:column;

  margin-right:10px;
  margin-bottom:5px;
}

.rUnit_label {
  padding-bottom:10px;
}

.rUnit_contentSet {
  position:absolute;

  bottom:0;
  display:flex;
  height:auto;
}


.rUnit_label {
  /* padding-bottom:10px; */
}

.rUnitBig_label {
  margin-bottom:-10px;
}

.rCol p {
  font-size: 12px;
  text-align: left;
}

.rUnit_buttons{
  width: 100%;
  height: 100%;

  position:relative;
  display:flex;
  flex-direction:row;
}

.rUnit_buttons input[type=radio] + label {
  font-size:12px;
  padding:5px 15px 5px 15px;
  height:20px;
}

.rUnitHuge input[type=radio] + label {
  font-size:12px;
  padding:5px 15px 5px 15px;
  height:20px;
}

.rUnitHuge {
  width: 100%;
  height: 20%;

  position:relative;
  display:flex;
  flex-direction:column;
}
.rUnitHuge_label {
  display:flex; 
  height:10%;

  margin-bottom:10px;
}
.rUnitHuge_column {
  display: flex;
  flex-direction: column;

  height:100%;
  width:100%;
}

.rUnitHuge_row {
  display: flex;
  flex-direction: row;

  height:30%;
  width:100%;
}

.rUnitHuge_row0 {
  width:40%;
}
.rUnitHuge_row1 {
  display:flex;
  flex-direction: row;
  
  vertical-align: center;

  height:100%;
  width:60%; 
}

.rUnitHuge_row1 img {
  object-fit: contain;

  height:50%;
  width:auto;

  margin-right:5px;
}

.selector_dotColor{
  display:flex;
  background-color: purple; /* Circle color */
  border-radius: 50%;

  height:50%;
  aspect-ratio: 1 / 1; /* Maintains a 1:1 ratio, ensuring it's a circle */

  margin-right:5px;

  border:1px solid;
  /* border-color:var(--secondary-color); */
}

#colorSet0 {
  background-color:#79d0de;
  border: 1px solid var(--secondary-color);
}
#colorSet1 {
  background-color:#a4e183;
  border: 1px solid var(--secondary-color);
}
#colorSet2 {
  background-color:#565b39;
  border: 1px solid var(--secondary-color);
}

#colorSetMono {
  background-color:#ee272a;
  border: 1px solid var(--secondary-color);
}

#bkgdColor {
  background-color:white;
  border: 1px solid var(--secondary-color);
}

#discoColorSelector {
  opacity:25%;
  pointer-events: none;
}

.rUnitBig {
  width: 100%;
  height: 8%;

  position:relative;
  display:flex;
  flex-direction:row;
}

.rUnitBig_selectSet {
  width: 100%;
  height: 100%;

  position:relative;
  display:flex;
  flex-direction:column;
}

.rUnitBig_selectSetHalf {
  width: 50%;
  height: 100%;

  position:relative;
  display:flex;
  flex-direction:column;
}

.rUnitBig_select_gallery {
  width: 100%;
  height: 100%;

  position:relative;
  display:flex;
  flex-direction:row;
}

.rUnitBig_select_gallery_unit {
  width: 16.667%;
  height: 100%;

  position:relative;
}

.rUnitBig_selectHalf_gallery_unit {
  width: 25%;
  height: 100%;

  position:relative;
}
.rUnitBig_selectHalf_gallery_unit2 {
  width: 25%;
  height: 100%;

  margin:1px;

  position:relative;
}

.rUnitBig_selectHalf_gallery_arrow {
  width: 12.5%;
  height: 100%;

  position:relative;
}

.rUnitBig_select_gallery_unitPunc {
  width: 10%;
  height: 100%;

  position:relative;
}

.rUnitBig_select_gallery_unit img {
  width:100%;
  height:100%;
  
  object-fit:contain;

  filter: invert(1);
}

.rUnitBig_selectHalf_gallery_unit img {
  width:100%;
  height:100%;
  
  object-fit:contain;

  filter: invert(1);
}

.rUnitBig_selectHalf_gallery_unit2 img {
  width:100%;
  height:100%;
  
  object-fit:contain;
}

.rUnitBig_selectHalf_gallery_arrow img {
  width:100%;
  height:100%;
  
  object-fit:contain;
}

img {
  cursor: pointer;
}

#defaultColMode { display:block; }

#d0 {  filter: invert(1) sepia(1) hue-rotate(-60deg) saturate(100000%) brightness(1.0); }
#d1 {  filter: invert(1); }
#d2 {  filter: invert(1); }
#d3 {  filter: invert(1); }
#d4 {  filter: invert(1); }
#d5 {  filter: invert(1); }
#d6 {  filter: invert(1); }
#d7 {  filter: invert(1); }

#i0 {  filter: invert(1) sepia(1) hue-rotate(-60deg) saturate(100000%) brightness(1.0); }
#i1 {  filter: invert(1); }

#o0 {  filter: invert(1); }
#o1 {  filter: invert(1); }
#o2 {  filter: invert(1); }

.rUnitBig_select_gallery_unitPunc img {
  width:100%;
  height:100%;
  
  object-fit:contain;

  filter: invert(1);
}

#p0 {  filter: invert(1) sepia(1) hue-rotate(-60deg) saturate(100000%) brightness(1.0); }
#p1 {  filter: invert(1); }
#p2 {  filter: invert(1); }
#p3 {  filter: invert(1); }
#p4 {  filter: invert(1); }
#p5 {  filter: invert(1); }
#p6 {  filter: invert(1); }
#p7 {  filter: invert(1); }
#p8 {  filter: invert(1); }
#p9 {  filter: invert(1); }
/* #p10 {  filter: invert(1); } */

#pd0 {  filter: invert(1); }
#pd1 {  filter: invert(1); }
#pd2 {  filter: invert(1); }
#pd3 {  filter: invert(1); }
#pd4 {  filter: invert(1); }
#pd5 {  filter: invert(1); }
#pd6 {  filter: invert(1); }
#pd7 {  filter: invert(1); }
#pd8 {  filter: invert(1); }
#pd9 {  filter: invert(1); }
#pd10 {  filter: invert(1); }
#pd11 {  filter: invert(1); }

/* RANGER */

.ranger {
  -webkit-appearance: none;
  width: 100%;
  height: 1px;
  background: var(--secondary-color);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.ranger:hover {
  background: var(--secondary-color);
}
.ranger::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: var(--secondary-color);
  cursor: pointer;
}

.ranger::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #04AA6D;
  cursor: pointer;
}

/* PRESETS */

.presetGrouping {
  width:100%;
  height:100%;

  position:relative;
  display:flex;
  flex-direction:row;
}

.presetCol {
  width:100%;
  height:100%;

  padding-right:20px;

  position:relative;
  display:flex;
  flex-direction:column;
}

.presetP {
  cursor:pointer;
}

.presetP:hover {
  background-color:red;
}

.presetGrouping p {
  text-align: left;

}

button {
  font-family: 'TheFutureReg', sans-serif;
  text-align:center;
  font-size: clamp(0.375rem, -0.25rem + 1.25vw, 0.875rem);
  color:var(--primary-color);

  padding:5px 25px 5px 25px;
  height:30px;
  /* width:100%; */

  border:none;
  border-radius:500px;
  cursor: pointer;

  background-color:var(--secondary-color);
}
button.buttonLabel{
  background-color:var(--primary-color);
  color:var(--secondary-color);
  cursor:auto;
  padding: 5px 15px 5px 15px;
}
.ltUnit button {
  font-size: clamp(0.375rem, -0.4063rem + 1.5625vw, 1rem);
  height:38px;
}

/* RADIO */

.presetRadioSub {
  width:100%;
  height:100%;

  position:absolute;
  display:flex;
  flex-direction: column;

}
.presetRadioSub2unit {
  display:flex;
  flex-direction: column;
}
input[type=radio] {
  display:none; 
}
input[type=radio] + label {
  font-family: 'TheFutureReg', sans-serif;
  text-align:center;
  font-size: clamp(0.375rem, -0.4063rem + 1.5625vw, 1rem);
  color:var(--secondary-color);

  padding:5px 25px 5px 25px;
  height:25px;
  width:auto;
  
  display:inline-block;
  flex-direction: column;

  border:none;
  border-radius:500px;
  cursor: pointer;
}

input[type=radio]:checked + label { 
  color: var(--primary-color);

  background-image: none;
  background-color:var(--secondary-color);
}

/* HEADLINES */

h1 {
  font-family:'TheFutureBold';
  font-size: clamp(0.625rem, -1.7188rem + 4.6875vw, 2.5rem);
  padding:0;
  margin:0;
  padding-left: 10px;
  line-height: clamp(0.625rem, -1.7188rem + 4.6875vw, 2.5rem);
  /* line-height: 40px; */

  color:var(--secondary-color);
}

h2 {
  font-family: 'TheFutureReg', sans-serif;
  font-size: clamp(0.625rem, -0.1563rem + 1.5625vw, 1.25rem);
  padding:0;
  margin:0;

  text-align: center;

  color:var(--secondary-color);
}

p {
  font-family:'TheFutureReg';
  font-size: clamp(0.375rem, -0.25rem + 1.25vw, 0.875rem);
  padding:0;
  margin:0;

  color:var(--secondary-color);
}

h3 {
  font-family: 'TheFutureReg', sans-serif;
  font-size:16px;

  text-align: center;

  margin:0;

  color:var(--secondary-color);
}

.underline {
  text-decoration: underline;
}

.imgHighlight {
  position:absolute;
}

.rounded-button {
  font-family: "TheFutureReg"; /* Adjust font */
  font-size: clamp(0.3125rem, -0.7031rem + 2.0313vw, 1.125rem);
  text-align: center;

  display: inline-block;
  padding: 5px 25px 5px 25px;
  background-color: var(--primary-color);
  color: var(--secondary-color); /* var(--primary-color) text */
  border: none; /* Remove borders */
  border-radius: 500px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
}

  /* OVERLAY */
  /* POP UP  */

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .overlay h1 {
    color:black;
  }

  .overlay p {
    color:black;
  }

  /* Pop-up container */
  .popup {
    background: white;
    border-radius: 15px;
    border:1px solid black;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width:640px;
    height:410px;
    /* width: 40%;
    min-width:300px;
    max-width:700px;
    height: 50%;
    min-height:450px;
    max-height:600px; */
    padding: 40px;
  }
  
  .popup p {
    font-size:24px;
  }

  .popup div{
    margin-bottom:25px;
  }

  .popup div div{
    margin-bottom:5px;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .button-container-sub {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    width:50%;
    height:auto;
  }

  .rounded-button2 {
    font-family: "TheFutureReg"; /* Adjust font */
    font-size: clamp(0.3125rem, -0.7031rem + 2.0313vw, 1.125rem);
    text-align: center;
  
    display: inline-flex;
    padding: 5px 25px 5px 25px;
    background-color: white;
    color: black; /* var(--primary-color) text */
    border: 1px solid black; /* Remove borders */
    border-radius: 500px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */

    width:auto;
  }

  .button-container-sub .rounded-button2, .rounded-button {
    /* font-size: clamp(0.3125rem, -0.1563rem + 2.5vw, 0.9375rem); */
    font-size:16px;
    margin-bottom:10px;
  }

  a {
    text-decoration: none;
  }