:root {
  --primary-color: #ffffff;
  --secondary-color:#000000;
}

.swap-colors {
  --primary-color: #000000;
  --secondary-color:#ffffff;
}

body{
  background:var(--primary-color);
  padding:0;
  margin:0
}

@font-face {
  font-family:'TheFutureBold';
  src: url('resources/TheFuture-Bold.otf')
}

@font-face {
  font-family:'TheFutureReg';
  src: url('resources/TheFuture-Regular.otf')
}

#logoGen {
  z-index:-100;
}

canvas{
  padding:0;
  margin:auto;
  display:block;
  position:absolute;
}

/* UNITS */
#logoGen {
  width:100%;
  height:100%;
}

/* UNITS */

.fullSet {
  width:100%;
  height:100%;

  position:absolute;
  display:flex;
  flex-direction:column;
}

.topRow {
  position:relative;
  display:flex;
  flex-direction:row;

  width: 100%;
  height: 60%;
}

.topUnit {
  position:relative;
  display:flex;
  flex-direction:column;

  width:33.3%;
  height:100%;

}

.tlUnit {
  position:relative;
  display:flex;
  flex-direction:column;

  width:100%;
  height:33.3%;
}

.tlSubUnit {
  position:relative;
  display:flex;
  flex-direction:column;

  width:100%;
  height:50%;
}

.trSubUnit {
  position:relative;
  display:flex;
  flex-direction:column;

  width:100%;
  height:50%;
}

.trSubUnit2 {
  position:relative;
  display:flex;
  flex-direction:column;

  width:100%;
  height:33%;
}

.trSubSubUnit {
  position:relative;
  display:flex;
  flex-direction: row;

  width:100%;
  height:33%;
}

.tlSubSubUnit {
  position:relative;
  display:flex;
  flex-direction:row;

  width:90%;
  height:50%;

  top:25%;
  left:5%;
}
.tlSubSubHeadline{
  width:40%;
}
.botRow {
  position:relative;
  display:flex;
  flex-direction:row;

  width: 100%;
  height: 40%;
}



.botUnit {
  position:relative;
  display:flex;
  flex-direction:column;

  width:25%;
  height:100%;
}

.unitHeadline {
  width:100%;
  height:15%;
}

.subUnitHeadline {
  width:100%;
  height:40%;
}

.unitSelector {
  width:100%;
  height:60%;
}

.unitSelector2 {
  width:100%;
  height:60%;
}

.unitToggle {
  width:100%;
  height:25%;
}

.unitToggle2 {
  width:100%;
  height:25%;
}

.unitToggle3 {
  width:100%;
  height:66%;
}

/* Overlay */
#overlayActive {
  display:none;
}
#noOverlayActive {
  display:flex;
}

/* HEADLINES */

h1 {
  font-family: 'TheFutureBold', sans-serif;
  font-size:40px;

  text-align: center;

  color:var(--secondary-color);
}

h2 {
  font-family: 'TheFutureReg', sans-serif;
  font-size:20px;

  text-align: center;

  color:var(--secondary-color);
}

h3 {
  font-family: 'TheFutureReg', sans-serif;
  font-size:20px;

  text-align: center;

  margin:0;

  color:var(--secondary-color);
}

p {
  font-family: 'TheFutureReg', sans-serif;
  font-size:20px;

  text-align: center;
  margin:0;


  color:var(--secondary-color);
}

/* RADIO */

.presetRadioSub {
  display:flex;
  flex-direction: row;

  width:66%;
}
.presetRadioSub2 {
  display:flex;
  flex-direction: row;

  width:auto;
}
#dotSettings {
  width:80%;
}
.presetRadioSub2unit {
  display:flex;
  flex-direction: column;
}
input[type=radio] {
  display:none; 
}
input[type=radio] + label {
  font-family: 'TheFutureReg', sans-serif;
  text-align:center;
  font-size:18px;
  color:var(--secondary-color);

  padding:5px 25px 5px 25px;
  height:30px;
  /* width:50%; */

  display:flex;
  flex-direction: column;

  border:none;
  border-radius:500px;
  cursor: pointer;
}

input[type=radio]:checked + label { 
  color: var(--primary-color);

  background-image: none;
  background-color:var(--secondary-color);
}

/* BUTTON */

.centerButton{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.centerButtonCol{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  font-family: 'TheFutureReg', sans-serif;
  text-align:center;
  font-size:20px;
  color:var(--primary-color);

  padding:5px 25px 5px 25px;
  /* height:30px; */
  /* width:60%; */

  border:none;
  border-radius:500px;
  cursor: pointer;

  background-color:var(--secondary-color);
}

#blackDotOverlaySet { display:flex; }
#blackDotOverlaySet2 { display:flex; }
#whiteDotOverlaySet { display:none; }
#whiteDotOverlaySet2 { display:none; }

#wordMarkStan { display:block; }
#wordMarkCenterBstan { display:block; }
#wordMarkCenterWstan { display:none; }

#wordMarkHasso { display:none; }
#wordMarkCenterBhasso { display:block; }
#wordMarkCenterWhasso { display:none; }

#wordMarkDesign { display:none; }
#wordMarkCenterBdesign { display:block; }
#wordMarkCenterWdesign { display:none; }

#wordMarkSelector {
  opacity:25%;
  pointer-events: none;
}
#inlineSelector {
  opacity:100%;
}
#inlineToggle {
  opacity:100%;
}
#baseCenter {
  filter:invert(0);
}
#baseSelector {
  opacity:100%
}
#dotColorSelector {
  opacity:100%
}

#trBlackTieSet  {
  display:block;
  border-right:none;
}
#trDiscoSet  {
  display:none;
  border-right:none;
}

#b2BlackTieSet  { display:block;}
#b2DiscoSet  { display:none;}

#b3BlackTieSet  { display:block;}
#b3DiscoSet  { display:none;}

.botUnit {
  border-right:1px solid var(--secondary-color);
  border-top:1px solid var(--secondary-color);
}
.topUnit { border-right:1px solid var(--secondary-color);}
.trSubUnit { border-top: 1px solid var(--secondary-color);}
.trSubUnit2 {
  /* border: 1px solid var(--secondary-color); */
  border:none;
  border-top: 1px solid var(--secondary-color);
}
/* #trSubUnit2 { border:none} */

/* .topRow { border: 1px solid red;}
.tlUnit { border: 1px solid green;}
.tlSubUnit { border: 1px solid pink;}
.tlSubSubUnit { border: 1px solid purple;}
.trSubSubUnit { border: 1px solid purple;}
.botRow { border: 1px solid blue;}
.unitHeadline { border:1px solid orange;}
.unitSelector { border:1px solid green;}
.unitToggle { border:1px solid red;}
.presetRadioSub { border: 1px solid cyan;}
.presetRadioSub2 { border: 1px solid blue;}
.centerButton { border: 1px solid brown;} */